# Generated code files
*.cydsn/codegentemp/
*.cydsn/Generated_Source/
*.cydsn/CortexM3/

# Log and auxilliary files
*.log
*.swp

*.cywrk.*
*.cydsn/*.cycdx
*.cydsn/*.svd
*.cydsn/*.cyprj.*
*.cydsn/BUILD.log
*.cydsn/Export/PSoCCreatorExportIDE.xml
*.cydsn/GENERATE_API.log
*.cydsn/*.cyfit
*.cydsn/*.rpt
*.cydsn/*_timing.html

Backup/*.zip
__pycache__/

# User files
*data_*.txt
calib_signal*